@model HotelManagement.Models.ViewModels.BookingRooms;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    List<Booking> checkIns = new List<Booking>();
    List<Booking> checkOuts = new List<Booking>();
    List<Booking> occupied = new List<Booking>();

    int people = 0;
    int maxPeople = ViewBag.MaxPeople;
    int rooms = 0;
    int maxRooms = ViewBag.RoomCount;


    foreach(Booking booking in Model.Bookings)
    {
        if(booking.CheckIn.Date == DateTime.Now.Date)
        {
            checkIns.Add(booking);
        }
        if (booking.CheckOut.Date == DateTime.Now.Date)
        {
            checkOuts.Add(booking);
        }
        if (DateTime.Now.Date >= booking.CheckIn && DateTime.Now <= booking.CheckOut)
        {
            occupied.Add(booking);
            people += booking.People;

            rooms++;
        }
    }

    Booking getRoomBooking(Room room)
    {
        foreach(Booking booking in occupied)
        {
            if(booking.Room == room)
            {
                return booking;
            }
        }

        return null;

    }

    decimal peopleAsPercent = ((decimal) people / (decimal) maxPeople) * 100;
    decimal roomsAsPercent = ((decimal) rooms / (decimal)maxRooms) * 100;

}

<h3>Todays breakdown:</h3>

<p>People Occupancy: @people / @maxPeople | @peopleAsPercent.ToString("00")%</p>
<p>Room Occupancy: @rooms / @maxRooms | @roomsAsPercent.ToString("00")%</p>

<form>
    <input type="date" asp-action="Index"/>
</form>

<h6 class="mb-4">Check-ins:</h6>
@if(checkIns.Count == 0){
<p>There are no check-ins today..</p>
}
@foreach(Booking checkIn in checkIns)
{
    <div class="card mb-4">
        <div class="card-header">
            <h4>Room: @checkIn.Room.Name | @checkIn.Room.Description</h4>
            <p>@checkIn.CheckIn.Date.ToShortDateString() - @checkIn.CheckOut.Date.ToShortDateString()</p>
        </div>
        <div class="card-body">
            <p>Price: @checkIn.Price</p>
            <p>Number of people: @checkIn.People</p>
            <p>Guest:</p>
            <ul>
                <li>Name: @checkIn.User.FirstName @checkIn.User.LastName</li>
                <li>Contact: @checkIn.User.Email | @checkIn.User.PhoneNumber</li>
                <li>Address: @checkIn.User.Address</li>
            </ul>

        </div>
        <div class="card-footer">
            <a class="btn btn-danger" asp-controller="Booking" asp-action="Delete" asp-route-id="@checkIn.Id">Remove user booking</a>
        </div>
    </div>
    
}


<h6 class="mb-4">Check-outs:</h6>
@if(checkOuts.Count ==0)
{
    <p>There are no check-outs today..</p>
}
@foreach (Booking checkOut in checkOuts)
{
    <div class="card mb-4">
        <div class="card-header">
            <h4>@checkOut.CheckIn.Date.ToShortDateString() - @checkOut.CheckOut.Date.ToShortDateString()</h4>
            <p>Room: @checkOut.Room.Name | @checkOut.Room.Description</p>
        </div>
        <div class="card-body">
            <p>Price: @checkOut.Price</p>
            <p>Number of people: @checkOut.People</p>
            <p>Guest:</p>
            <ul>
                <li>Name: @checkOut.User.FirstName @checkOut.User.LastName</li>
                <li>Contact: @checkOut.User.Email | @checkOut.User.PhoneNumber</li>
                <li>Address: @checkOut.User.Address</li>
            </ul>
        </div>
        <div class="card-footer">
            <a class="btn btn-danger" asp-controller="Booking" asp-action="Delete" asp-route-id="@checkOut.Id">Remove user booking</a>
        </div>
    </div>

}

<h6 class="mb-4">Rooms:</h6>
<div class="card-group">
    @foreach (Room room in Model.Rooms)
    {
        <div class="card p-2">
            <div class="card-body">
                <h5 class="card-title">@room.Name | @room.Description</h5>
                    @{
                        Booking booking = getRoomBooking(room);
                    }
                    @if(booking != null)
                    {
                        <p class="card-text">This room is booked!</p>
                        <p class="card-text">@booking.CheckIn.ToShortDateString() - @booking.CheckIn.ToShortDateString() </p>
                    }
                    else
                    {
                        <p class="card-text">This room is empty</p>
                    }
            </div>
        </div>
    }
</div>
